# Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/
env/
venv/
*/venv/

# Django
db.sqlite3
/static_collected/
/media/
*.log
*.pot
*.mo

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

.env