{% extends 'base.html' %}

{% block title %}
  Password Reset Complete - Expense Tracker
{% endblock %}

{% block content %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="text-center">
        <i class="fas fa-check-circle text-5xl text-green-500 mb-4"></i>
        <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-dark-text-primary">
          Password Reset Complete
        </h2>
      </div>
      <p class="mt-2 text-center text-sm text-dark-text-secondary">Your password has been set. You may go ahead and log
        in now.</p>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm bg-dark-card p-8 rounded-lg shadow-md border border-dark-border">
      <a href="{% url 'login' %}"
        class="flex w-full justify-center rounded-md bg-dark-button-primary px-3 py-1.5 text-sm font-semibold leading-6 text-dark-text-primary shadow-sm hover:bg-dark-button-primary-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dark-accent">
        Log in
      </a>
    </div>
  </div>
{% endblock %}
